$background: #0d1323;

$light: #fff;

$primary: #1d204a;
$secondary: #5746ea;
$tertiary: #b7afff;

$orange: #fc8b64;
$blue: #56c2e6;
$red: #fa5e7d;
$green: #4bcf83;
$purple: #7235d1;
$yellow: #f1c75b;